*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

header {
    display: flex;
    flex-flow: column nowrap;
    padding: 0px;
}

header #header-content{
    height: 80%;
    padding: 0px;
}

    header #header-content #header-content-top{
        background-color:black;
        display: flex;
        height: 40%;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        padding: 10px;
    }

        header #header-content #header-content-top #logo {
          width: 300px;
            
        }
        header #header-content #header-content-top #logo img{
            width: 100%;
        } 
      header h1{
          display: none;
      }
        header #header-content #header-content-top a {
            color: white;
            flex: 1 2 10%;
            font-size: 38px;
             text-align: right;    
        }
    header #header-content nav{
        height:  60%;
        background-image:  url(../img/8093a283cfc841cbc7a78aae693d63b5.gif) ;
        background-position: bottom;
        display: flex;
        flex-flow: column nowrap;
        padding: 10px;
    }
        header #header-content nav a{
            flex: 1 0 auto; 
            color : ghostwhite;
            text-decoration: none;
            font-size: 20px;
            color: white;
            border-bottom:solid 4px gray ;
            border-bottom-right-radius: 10px;
            display: flex;
            align-items: center;
            padding-left: 10px;
            padding-bottom: 3px;
            transition: 1s all;
        }
        .active {
            background-color: rgba(0, 0, 255, .3);
        }
        header #header-content nav a span {
            font-family: Unlock;
        }

        header #header-content nav a:hover {
            background-color: gray;
            border: 0px solid white;
            color: black;
        }
        header #header-content nav a#portfolio {
            display: none;
        }
        header #header-content nav a i {
            display:none;
        }
        header div img{
            width: 80px;
        }
     main .search {
         background-color: black;
         height: 50px;
     }
     main .search input {
         font-size: 24px;
     }
     
    main header nav {
        height: 50px;
        background-color: rgb(63, 62, 62);
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;    
    }
    
    main header nav a{
        width: 100%;
        font-size: 23px;
        color: white;
        text-decoration: none;
        height: 100%;  
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
       
    }
    main header nav a i{
        padding-right: 6px;
    }
    main header nav a:hover {
            background-color: rgb(179, 56, 34);
            border-radius: 5px;
            color: black;
    }
    ul,ol{
        list-style: none;
    }
    .slideshow{
        width: 100%;
        position: relative;
        background-color: black;
    }
    .slideshow ul{
        list-style: none;
        padding: 0;
        
        
    }
    
    .slider li, ul{
        width: 100%;
    }
    
    .slider li{
        overflow: hidden;
    }
    
    .slider li img{
        width: 100%;
        height: 200px;
    }
    .pagination{
        top: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .pagination li{
        font-size: 12px;
        margin: 1px 5px;
        color: #858585;
        cursor: pointer;
    }
    
    .left, .right{
        position: absolute;
        top: 0;
        height: 100%;
        display: flex;
        align-items: center;
        color: #fff;
        font-size: 35px;
        cursor: pointer;
        z-index: 2;
    }
    
    .left{
        left: 10px;
    }
    
    .right{
        right: 10px;
    }

    main section nav{
        width: 100%;
       
        display: flex;
        flex-flow: row wrap;
       
        
    }
  

    main section  article {
        width: 50%;
        background-color: white;
        height: 250px;
        border: 2px solid black;
        border-radius: 5px;
        overflow: hidden;
        margin-bottom: 3px;
    }
    main section article img{
        flex: 0 0 auto;
        height: 80%;  
    }
    main section article .datos {
        display: none;
        padding: 5px;
    }
    main section article .datos h2 {
        display: none;
        color:black; 
    }
    main section article .datos p {
        display: none;
        font-size: 14px;
        text-align: justify;
        text-indent: 0.5cm;
    }
    main section article .datos div{
        display: none;
        background-color: rgb(179, 56, 34);
        width: 110px;
        border-radius: 7px ;   
    }
    main section article .datos div a{
        display: none;
        color:black;
        font-family: 'Trebuchet MS';
        font-size: 22px;
        text-decoration: none;
        align-items: center;
        display: flex;
        justify-content: center;   
    }
    
    
    
    



