header {
    height: 30%;
}

header #header-content{
    height: 70%;
}
header #header-content #header-content-top h1 {
    display: flex;
    font-size: 40px;
    color: white;
    justify-content: center;
    font-family: 'Rubik', sans-serif;
}
    header #header-content nav{
        height:  50%;
        flex-flow: row-reverse nowrap;
        justify-content: space-around;
    }

    header #header-content nav a{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        border: none;
        transition: 1s all;
    }
    
    header #header-content nav a i{
        display: block;
        color: aliceblue;
        font-size: 40px;
        color:rgb(255, 81, 0);
    }
    header #header-content nav a span{
        font-size: 18px;
        color: whitesmoke;
        font-family: Dosis;
    }
    header #header-content nav a:hover {
        background-color: transparent;
    }
    header #header-content nav a:hover i{
        color: whitesmoke;
    }
    header #header-content nav a:hover span{
        color: rgb(255, 81, 0);
    }

header #header-content #header-content-top {
        height: 50%;
        justify-content: center;
    }
    header #header-content-top a#navicon{
        display: none;
    }
    header #header-content #header-content-top #logo {
        flex: 0 0 30%;
    }
    header #header-content #header-content-top h1 {
        flex: 0 0 70%;
    }
    
    main header nav{
        width: 100%;
    }
    main header nav a{
        width: 100%;
        font-size: 25px;
        color: white;
        text-decoration: none; 
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        
    }
    main header nav a:hover {
            background-color: rgb(179, 56, 34);
            border: 0px solid white;
            color: black;
           
    }

main header {
        height: 20%;
        justify-content: space-between;
        align-items: center;
    
    }
    main header h2 {
        flex: 0 0 70%;  
    }
    main header nav#breadCrumb{
        flex: 0 0 30%;
    }

main section {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}
main section  article {
    width: 100%;
    background-color: white;
    display: flex;
    flex-flow: row nowrap;
    height: 250px;
    border: 2px solid black;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 3px;
}
main section article img{
    flex: 0 0 auto;
    height: 80%;
    
}

    main section article .datos {
        flex: 0 0 80%;
        padding: 5px;
        
        
    }
    main section article .datos h2 {
        color :black;
    }
    
    main section article .datos div{
        background-color: rgb(179, 56, 34);
        width: 110px;
        border-radius: 7px ; 
        margin: auto;
    }
